CRAWLING_DATABASE_PATH=./data/articles.sqlite3
CRAWLING_TARGET_SITES_PATH=./data/target-sites.json
CRAWLING_FRONT_DATA_PATH=../front/data
CRAWLING_ARTICLE_LIMIT=20
CRAWLING_HOURLY_LIMIT=50
CRAWLING_DAEMON_INTERVAL_SECONDS=300
CRAWLING_RECENT_ARTICLE_DAYS=7
CRAWLING_REQUEST_TIMEOUT=15
CRAWLING_USER_AGENT=Mozilla/5.0 War-Archive-History-Crawler/1.0
